@model IsTakipSistemiMVC.Models.MailViewModel

@{
    ViewBag.Title = "MailDetay";
    Layout = ViewBag.Layout;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mail Detay</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 900px;
            margin: 20px auto;
            background-color: #f9f9f9;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

            .header h2 {
                margin: 0;
                font-size: 18px;
                font-weight: normal;
            }

        .info {
            margin-bottom: 20px;
        }

            .info div {
                margin-bottom: 10px;
            }

            .info span {
                font-weight: bold;
                display: inline-block;
                width: 150px;
            }

        .content {
            white-space: pre-wrap; /* For preserving line breaks */
            padding: 10px 0;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }

        .footer {
            text-align: right;
            font-size: 12px;
            color: #888;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>@Model.Konu</h2>
        </div>
        <div class="info">
            <div><span>Gönderen:</span> @Model.GondericiAdSoyad</div>
            <div><span>Alıcı:</span> @Model.AliciAdSoyad</div>
            <div><span>Gönderilme Tarihi:</span> @Model.GonderilmeTarihi</div>
        </div>
        <div class="content">
            @Html.Raw(@Model.Icerik.Replace("\n", "<br/>"))
        </div>
        <div class="footer">
            <p>Çağrıyla ilgili ya da projelerinizle ilgili desteğe ihtiyacınız olduğunda info@birunitenokpark.com adresine e-posta atabilirsiniz. Aşağıdaki iletişim numarasından da bizlere ulaşabilirsiniz.</p>
        </div>
    </div>
</body>
</html>
