@model IEnumerable<IsTakipSistemiMVC.Models.BirimViewModel>

@{
    ViewBag.Title = "Birim";
    Layout = "~/Views/Shared/_LayoutSistemYoneticisi.cshtml";
}

<style>
    .custom-button {
        margin: 5px; /* Butonlar arasındaki boşluğu artır */
        transition: background-color 0.3s ease; /* Geçiş efekti */
    }

        .custom-button:hover {
            background-color: #0056b3; /* Hover rengi */
            color: white; /* Yazı rengini beyaz yap */
        }
</style>

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col text-end">
            <a href="@Url.Action("Olustur")" class="btn btn-primary custom-button">
                <i class="fas fa-plus"></i> Yeni Birim Ekle
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center table-light">
                            <th style="width: 30%;">Birim Adı</th>
                            <th style="width: 40%;">Yöneticiler</th>
                            <th style="width: 30%;">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>
                                    @Html.DisplayFor(model => item.BirimAd)
                                </td>
                                <td>
                                    @if (item.Yoneticiler == "Belirtilmemiş")
                                    {
                                        <span>@item.Yoneticiler</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => item.Yoneticiler)
                                    }
                                </td>
                                <td class="d-flex justify-content-center">
                                    <a href="@Url.Action("Guncelle", new { id = item.BirimId })" class="btn btn-success custom-button">
                                        <i class="bi bi-pencil"></i> Güncelle
                                    </a>
                                    <a href="@Url.Action("Sil", new { id = item.BirimId })" class="btn btn-danger custom-button" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="@item.BirimId">
                                        <i class="bi bi-trash"></i> Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Silme Onayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu birimi silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <a href="#" id="confirmDeleteButton" class="btn btn-danger">Sil</a>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var birimId = button.data('id');
        var modal = $(this);
        modal.find('#confirmDeleteButton').attr('href', '@Url.Action("Sil", new { id = "__id__" })'.replace('__id__', birimId));
    });
</script>   