@{
    ViewBag.Title = "Takip";
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center">İŞ TAKİBİ</h2>
    <br />
    <div class="row">
        @foreach (var isDurum in Model.isDurumlar)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm border-0 h-100 job-card">
                    <div class="card-header text-center text-white">
                        <h5 class="card-title mb-0">@isDurum.isBaslik</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@isDurum.isAciklama</li>
                            <li class="list-group-item">İletilen Tarih: @isDurum.iletilenTarih</li>
                            <li class="list-group-item">Yapılma Tarihi: @isDurum.yapilanTarih</li>
                            <li class="list-group-item">İş Durumu: @isDurum.durumAd</li>
                            <li class="list-group-item">İş Yorumu: @isDurum.isYorum</li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
        color: #212529;
    }

    .card {
        border-radius: 15px;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

    .card-title {
        font-weight: bold;
        color: #343a40;
    }

    .form-label {
        color: #495057;
    }

    .job-card .card-header {
        background-color: #007bff;
        color: #ffffff;
    }

    .job-card .card-body {
        background-color: #ffffff;
        color: #343a40;
    }

    .job-card .list-group-item {
        background-color: #ffffff;
        color: #495057;
    }

    .job-card .card-footer {
        background-color: #e9ecef;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

        .btn-success:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }

        .btn-success:focus {
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
        }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    }

    .text-center {
        text-align: center;
    }
</style>
